{
  "extends": ["airbnb-base"],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["@", "./src"],
        ["~", "./src"]
      ]
    }
  }
}